 #bp-widget-widget {
    bottom: 24px;
    height: 50px!important;
    left: auto;
    right: 36px;
    top: auto;
    width: 50px!important;
}


.bpw-floating-button i {

    /* Adds a transition effect to the icon when its opacity changes */

    transition: opacity 0.3s ease;

    /* Sets the opacity of the icon to fully visible */

    opacity: 1;

    /* Inherit the fill and stroke color from the parent button element */

    fill: inherit;

    stroke: inherit;

    /* Sets the width of the icon to 100% of the parent button element */

    width: 100%;

    /* Removes padding and sets line-height to 0 to center the icon */

    padding: 0;

    line-height: 0;

}

.bpw-floating-button {
    background-image:  url(https://bot-style-7i9godjxi-warmetallic.vercel.app/umbrella%20(3).png);
} 


.bpw-powered {
    display: none;
}

.bpw-send-button {
  font-size: 0; /* hide original text */
}

.bpw-send-button::before {
  content: "Enviar";
  font-size: 16px; /* set size of new text */
  font-weight: bold; /* make text bold */
}

.bpw-send-button:hover::before {
  display: inline-block;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: rgba(128, 128, 128, 0.2);
  color: #000; /* set to black color */
}


.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: rgba(128, 128, 128, 0.2); /* set to clear grey color */
}
