.bpw-widget-btn {
    bottom: 96px;
    width: 50px;
    height: 50px;

}

bp-web-widget {
    bottom: 96px;
    width: 50px;
    height: 50px;
}

.bp-widget-web {
  border: none;
  display: block;
  position: fixed;
  visibility: none;
  z-index: 20;
  max-height: 100vh;
  max-width: 100vw;
  transition: none;
  background: none transparent;
  opacity: 1;
  font-size: 16px;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  width: 50px!important;
  height: 50px!important;
}

.bp-widget-widget {
    width: 50px!important;
    height: 50px!important;

}




.bpw-floating-button {
    background-image: url(https://bot-style.vercel.app/umbrella.png);
} 


